@tailwind base;
@tailwind components;
@tailwind utilities;

 /* override to ensure drag-drop component focus/registers event flow */
* {
    -webkit-user-drag: auto;
    -webkit-user-select: auto;
    user-select: auto;
  }
  

